/* Estilos para el banner */
.banner {
  background-image:
    linear-gradient(100deg, #000000, #0000006b),
    url("/images/banner/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  max-width: 100%;
  height: 80vh;

  display: flex;
  align-items: center;
}

/* Estilos para el contenido del banner */
.content {
  margin: 40px;
}

.content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--white-color);
}

.content p {
  font-size: 1rem;
  margin-bottom: 25px;
  color: var(--white-color);
}

.btn {
  font-size: 1rem;
  color: var(--white-color);
  font-weight: 700;

  border: none;
  cursor: pointer;
  background-color: var(--red-color);

  padding: 10px;
  /* animación */
  transition: all 0.4s ease;
}

.btn:hover {
  color: var(--red-color);
  background-color: var(--white-color);
}

/* Media Queries */
@media (min-width: 460px) {
  /* Tablets */
  .banner {
    height: 85vh;
  }

  .content {
    max-width: 65%;
  }

  .content h2 {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 1.15rem;
  }
}

@media (min-width: 768px) {
  /* Laptop */
  .banner {
    height: 120vh;
  }

  .content {
    width: 45%;
  }

  .content h2 {
    font-size: 3.5rem;
  }

  .content p {
    font-size: 1.25rem;
  }

  .content button {
    font-size: 1.25rem;
  }
}
