/* Contenedor grid para las tarjetas */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
}

/* Estilos para las tarjetas */
.card {
  text-align: center;
  padding: 1.25rem 0.938rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.07);
}

.card i {
  font-size: 2.188rem;
  color: var(--green-color);
}

.card h3 {
  font-size: 1.25rem;
}

.card p {
  font-size: 1rem;
  color: var(--text-color);
}

/* Media Queries */
@media (min-width: 460px) {
  /* Tablets */
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
  }
}

@media (min-width: 768px) {
  /* Laptop */
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1100px;
  }
}
